<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Tarefa Node JS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand">Meu site de Filmes!</a>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item mt-3">
                            <a href="/" class="btn btn-secondary ml-3 mb-3" >Rated Top 10</a>
                        </li>
                        <li>
                            <div method="GET" class="favoriteStatus">
                            {{#if author}}
                            <a href="/favoritemovies" class="btn btn-secondary ml-3 mb-3" >Seus favoritos!
                            {{else}}
                            <a href="/favoritemovies" class="btn btn-secondary ml-3 mb-3" >Seus favoritos!
                            {{/if}}
                            </div>    
                            </a>
                        </li>
                     </ul>
                </div>
                <a class="m-3">Pesquise seu filme:</a>
                <form action="/searchtitle" method="POST">
                    <div>
                        <input class="form-control" type="text" name="movieFindtitle" placeholder="digite seu filme">
                    </div>
                    <div>
                        <button type="submit" id="myBtn">Pesquisar</button>
                    </div>                               
                </form>
            </div>

        </nav>

    </header>
    <main class="mb-5">
        {{{body}}}
    </main>
    <footer class="border-top footer text-muted fixed-bottom bg-light">
        <div class="container">
            Conteudo privado copyright 2020
            <br>
            <br>
        </div>
    </footer>
</body>
</html>