<div class="container mt-2">
	<div class ="row table table-striped">
		<div class="col-2 border border-dark">
			Classificação
			{{#each movieFoundTitle}}
				<div class="row border border-dark h-10">
					<div class="ml-3">
						{{inc @index}}
					</div>
				</div>
			{{/each}}
		</div>
		<div class="col-5 border border-dark">
			Titulo
			{{#each movieFoundTitle}}
				<div class="row  border border-dark h-10">
					<div class="ml-3">
						{{this}}
					</div>
				</div>
			{{/each}}
		</div>
		<div class="col-2 border border-dark">
			Nota media
			{{#each movieFoundVote}}
				<div class="row border border-dark h-10">
					<div class="ml-3">
						{{this}}
					</div>
				</div>
			{{/each}}
		</div>
		<div class="col-2 border border-dark">
			Resumo
			{{#each movieFoundOverview}}
				<div class="row border border-dark h-10">
					clique aqui!
				</div>
			{{/each}}
		</div>
		<div class="col-1 border border-dark">
			Favoritos!
			{{#each movieFoundId}}
				<div class="row border border-dark h-10">
					<input class="" type="checkbox" name="favorite" value="{{movieFound.movieFavorite}}" onclick="/" method="POST">
				</div>
			{{/each}}
		</div>
	</div>
</div>